<form method="POST">
    <label for="title">Название:</label>
    <input type="text" id="title" name="title" value="<%= book.title %>">

    <label for="description">Описание:</label>
    <input type="text" id="description" name="description" value="<%= book.description %>">

    <label for="authors">Автор:</label>
    <input type="text" id="authors" name="authors" value="<%= book.authors %>">

    <div class="favourite">
        <label for="favourite">Избранное:</label>
        <input type="checkbox" id="favourite" name="favourite" <%= book.favourite ? 'checked' : '' %>>
    </div>

    <button type="submit">
        <% if (currentRoute === '/create') { %> Создать <% } %>
        <% if (currentRoute === '/edit') { %> Сохранить <% } %>
    </button>
</form>
