<%- include('./layouts/header') %>

<section>
    <h4>Такого пользователя не существует</h4>
    <a class="return" href="javascript:history.back()">Вернуться</a>
</section>

<%- include('./layouts/footer') %>
