<%- include('./layouts/header') %>
<%- include('./menu') %>

<section class="edit-wrapper">
    <div class="edit-form">
        <h1>Редактировать книгу</h1>
        <%- include('./form') %>
    </div>
    <a class="return" href="javascript:history.back()">Вернуться</a>
</section>

<%- include('./layouts/footer') %>
