<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <% if (currentRoute === '/') { %> Главная страница <% } %>
        <% if (currentRoute !== '/') { %>
                <%= title %>
        <% } %>
    </title>
    <link rel="stylesheet" href="/../styles/styles.css">
</head>

<body>
<header>Добро пожаловать!</header>
